/**
/*  #Globalnav-area
/* ==========================================*/
header #globalnav-area {
  width: 100%;
  position: fixed;
  top: 82px;
  left: 0;
  font-size: 120%;
  height: 50px;
  z-index: 900;
  text-align: center;
  background-color: white;
  margin: 0 auto;
  word-break: break-all;
}

#globalnav {
  height: 50px;
  width: 100%;
  margin: 0.5em auto;
  word-break: break-all;
}
#globalnav ul{
  list-style-type: none;
  display: inline;
  margin: 0 auto;
}

#globalnav li{
  list-style-type: none;
  width: auto;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
}

#globalnav li.ln00-now *{
  background-color: rgb(189, 189, 189);
  color: white;
  text-decoration: none;
}

#globalnav li.ln01-now *{
  background-color: rgb(128, 208, 237);
  color: white;
  text-decoration: none;
}

#globalnav li.ln02-now *{
  background-color: rgb(34, 25, 135);
  color: white;
  text-decoration: none;
}

#globalnav li.ln03-now *{
  background-color: rgb(241, 66, 192);
  color: white;
  text-decoration: none;
}

#globalnav li.ln04-now *{
  background-color: rgb(173, 218, 122);
  color: white;
  text-decoration: none;
}

#globalnav li.ln05-now *{
  background-color: rgb(181, 142, 40);
  color: white;
  text-decoration: none;
}



#globalnav li.ln00:hover *{
  background-color: rgb(189, 189, 189);
  color: white;
  text-decoration: none;
}

#globalnav li.ln01:hover *{
  background-color: rgb(128, 208, 237);
  color: white;
  text-decoration: none;
}

#globalnav li.ln02:hover *{
  background-color: rgb(34, 25, 135);
  color: white;
  text-decoration: none;
}

#globalnav li.ln03:hover *{
  background-color: rgb(241, 66, 192);
  color: white;
  text-decoration: none;
}

#globalnav li.ln04:hover *{
  background-color: rgb(173, 218, 122);
  color: white;
  text-decoration: none;
}

#globalnav li.ln05:hover *{
  background-color: rgb(181, 142, 40);
  color: white;
  text-decoration: none;
}

/**
/*  #Localnav-area
/* ==========================================*/
header #localnav-area {
  width: 100%;
  position: fixed;
  top: 132px;
  font-size: 90%;
  left: 0;
  height: 45px;
  z-index: 900;
  text-align-last: center;
  margin: 0  auto;
  background-color: rgb(238, 234, 233);
  word-break: break-all;
}

#localnav {
  height: 45px;
  width: 100%;
  margin: 1em auto;
  word-break: break-all;
}
#localnav ul{
  list-style-type: none;
  margin: auto;
  display: inline;
}

#localnav li{
  display: inline;
  margin-left: 2em;
  border-left: inset 10px rgba(208, 142, 125, 0.8);
}

#localnav li:before{
  display: inline-block;
  content: "";
  margin-left: -7px;
  border: 5px solid transparent;
  border-left: solid 5px rgb(255, 255, 255);
}



/**
/*  indxbox
/*             */

.indexbox{
  margin-top: 15px;
}

.indexbox div{
  margin: 10px 0;
}

.index-menu div:hover{
  filter:alpha(opacity=50);
  opacity:0.5;
  transition:0.75s;
}
a.index-menu{
  width: 100%;
  height: 100%;
}
a.index-menu:hover{
  text-decoration: none;
}

.copy{
  color: rgb(18, 23, 147);
  font-weight: bold;
  line-height: 1.5em;
  font-size: 1.1em;
}

.index-menu h2{
  font-weight: bold;
}
.index-menu h2:before{
  content: ">";
  border: 1px black solid;
  font-weight: lighter;
  font-size: 50%;
  margin: auto;
  margin-right: 1em;
}

.index-menu  div{
  transition-duration: 1.0s ;	/* 秒数 = 1.0秒 */
}


/*
* content-head
*       */
.content-head{
  margin-bottom: 10px;
}

.content-head ul{
  list-style-type: none;
  float: right;
  display: inline-block;
}

.content-head li{
  float: left;
  margin-left: 1em;
  text-align: right;
  display: inline-block;
}

.topix-name{
  font-size: 170%;
  color: rgb(100, 100, 100);
  margin-left: 1em;
}

.global-category{
  color: blue;
  padding: 4px 7px;
  font-weight: bold;
  border: 1px solid blue;
}

/*
* content-menu
*         */
div.content-menu{
  margin: 0;
}

div.content-menu table{
  background-color: rgba(52, 86, 187, 0.8);
  width: 100%;
  margin-top: 1em;
  height: 3em;

}

div.content-menu table th{
  text-align: center;
  color: white;
  margin: 3px;
  border: solid 2px rgba(4, 4, 22, 0.4);
}
div.content-menu table th:hover{
  text-align: center;
  color: white;
  background-color: rgba(24, 24, 132, 0.5);
  margin: 3px;
  border: solid 2px rgb(4, 4, 22);
}

/*
*  message-area
*       */
div.message-area{
  background-color: rgb(233, 233, 233);
  margin-top: 2em;

}
.message {
  width: 90%;
  margin: auto;
}
.message h3{
  padding-top: 1em;
  color: rgb(59, 145, 187);
  width: 100%;
  border-bottom: 2px dotted rgb(59, 145, 187);
  margin-bottom: 1em;
}
.message h4{
  font-weight: bolder;
}


/*
*   requirements
*   */
.requirements-area{
  background-color: rgb(233, 233, 233);
}
.requirements{
  width: 90%;
  margin:auto;
  padding-bottom: 2em;
}
.requirements h3{
  padding-top: 1em;
  width: 100%;
  margin-bottom: 1em;
}
.requirements h4.line{
  font-weight: bold;
  margin-top:0.5em;
  color: rgb(16, 13, 122);
  padding-bottom:0.5em;
  border-top:2px solid rgb(16, 13, 122);
}
.requirements h4.line span{
  margin:-0.5em 0 0;
  padding-right: 0.5em;
  float:left;
  background:rgb(233, 233, 233);
}

.requirements h5{
  font-weight: bold;
  font-size: 120%;
  margin: 2em 0;
}

.requirements table{
  border: 2px rgba(230, 230, 230, 0.8) solid;
  background-color: rgba(208, 208, 208, 0.3);
}

.requirements table tr{
  border: 2px rgba(230, 230, 230, 0.8) solid;
  padding: 1em;
}

.requirements table td{
  width: 14em;
  font-size: 110%;
  padding: 0.75em 1em;
  font-weight:bold;
  background-color:rgba(154, 154, 154, 0.3);
}

.requirements th{
  padding: 0.75em 1em;
}

/*
* send-to
*              */

div.send-to-area{
  width: 100%;
  padding: 1em;
  margin-bottom: 3em;
  margin: 3em auto;
  background-color: rgba(166, 166, 166, 0.4);
}


.send-to h4{
  position: relative;
  margin: 0 0 1.5em;
  padding: 0.8em 0 0.8em 1.5em;
  font-size: 1.143em;
  font-weight: bold;
}

.send-to h4:before{
  content: "";
  position: absolute;
  background: rgb(73, 73, 73);
  top: 50%;
  left: 0.5em;
  margin-top :-15px;
  height: 30px;
  width: 8px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}


/*
* qaa
*      */

.qaa-area{
  background-color: rgb(233, 233, 233);
}
.qaa{
  width: 90%;
  margin:auto;
  padding-bottom: 2em;
}
.qaa h3{
  padding-top: 1em;
  width: 100%;
  margin-bottom: 1em;
}
.qaa h4.line{
  font-weight: bold;
  margin-top:0.5em;
  color: rgb(16, 13, 122);
  padding-bottom:0.5em;
  border-top:2px solid rgb(16, 13, 122);
}
.qaa h4.line span{
  margin:-0.5em 0 0;
  padding-right: 0.5em;
  float:left;
  background:rgb(233, 233, 233);
}

.qaa h5{
  font-weight: bold;
  font-size: 120%;
  margin: 2em 0;
}

.qaa-content{
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 120%;
  padding: 1em 1em 1em 3em;
}

.qaa-content span.q{
  font-weight: bold;
}

.qaa-content .q:before{
  content: "Q";
  font-size: 1.5em;
  color: rgb(239, 241, 254);
  width: 1.1em;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  position: absolute;
  margin-left: -1.2em;
  margin-top: -10px;
  font-weight: lighter;
  vertical-align: text-top;

  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  background-color: rgb(50, 73, 153);
}

.qaa-content .a{
  padding: 0.5em;
  margin-top: 1em;
}

.qaa-content .a:before{
  content: "A";
  font-size: 1.5em;
  color: rgb(50, 73, 153);
  width: 1.1em;
  padding-bottom: 0.1em;
  padding-left: 0.2em;
  position: absolute;
  margin-left: -1.5em;
  margin-top: -10px;
  font-weight: lighter;
  vertical-align: text-top;

  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  background-color: rgb(166, 175, 208);
}


/*
* sidenav
*         */

#sidenav {
  position: fixed;
  top: 40%;
  width: 11em;
  right: 0;
  font-size: 110%;
}

#sidenav .active {
  position: fixed;
  width: 9em;
  right: 0;
  font-size: 110%;
}

#sidenav li{
  list-style-type: none;
  height: 1.8em;
  padding: 0.2em;
  color: rgba(50, 50, 50, 0.3);
  margin-bottom: 2em;
  font-weight: bold;
}

#sidenav a:before{
  content: ">";
  position: absolute;
  right: 0;
  height: 1.2em;
  margin-top: 0.2em;
  padding-right: 0.8em;
  padding-left: 0.2em;
  background-color: rgba(175, 175, 175, 0.7);
}

#sidenav a.active:before{
  content: ">";
  position: absolute;
  right: 0;
    color: rgba(255,255,255,0.9);
  height: 1.2em;
  margin-top: 0.2em;
  padding-right: 1.5em;
  padding-left: 0.2em;
  background-color: rgba(50, 50, 50, 0.7);
}



#sidenav li a.active{
  color: rgb(50, 50, 50);
}
